* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    display: block;
}

#ui {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

#status {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: green;
    border-bottom: 2px solid #33ff33;
    color: #33ff33;
    text-align: center;
    line-height: 10vh;
    -moz-user-select: none;
    user-select: none;
    font-size: 5vh;
}

#status i {
    color: blue;
    font-style: normal;
}

#status e {
    color: red;
    font-style: normal;
}

#status w {
    color: white;
    font-style: normal;
}

#status b {
    color: black;
    font-style: normal;
    font-weight: normal;
}

#login-form {
    position: absolute;
    width: 400px;
    height: 300px;
    top: calc(50vh - 150px);
    left: calc(50vw - 200px);
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #33ff33;
    border-radius: 5%;
    text-align: center;
}

#login-header {
    text-transform: uppercase;
    color: #33ff33;
    user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#input-username {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #33ff33;
    border-radius: 5%;
    width: 200px;
    height: 25px;
    position: absolute;
    left: calc(50% - 100px);
    top: 20%;
    color: #33ff33;
    text-align: center;
}

#waiting-screen {
    display: none;
    color: #33ff33;
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: 4vh;
    -moz-user-select: none;
    user-select: none;
}

#waiting-screen img {
    position: absolute;
    width: 10vw;
    height: 10vh;
    top: 45vh;
    left: 45vw;
}

.button {
    width: 200px;
    height: 25px;
    background-color: #33ff33;
    color: black;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 25px;
    border-radius: 5%;
    -moz-user-select: none;
    user-select: none;
}

.button:hover {
    background-color: #11dd11;
}

.button:active {
    background-color: #00cc00;
}

#btn-login {
    position: absolute;
    left: calc(50% - 100px);
    top: 40%;
}

#btn-reset {
    position: absolute;
    left: calc(50% - 100px);
    top: 60%;
}